.git
.gitignore
.DS_Store
node_modules
.next
.env*
../backend/NexusAPI/.env*
../frontend/nexus-frontend/.env*
*.log
*.tmp
*.user
*.suo
bin/
obj/
.vs/
.vscode/
TestResults/
NexusAPI.Tests/
backend.sln
README.md
LICENSE
